effect_wnmario.breff
effect_wnmario.breft
effect_wnmario_demo.breff
effect_wnmario_demo.breft
effect_wnmario_iggy.breff
effect_wnmario_iggy.breft
effect_wnmario_jr.breff
effect_wnmario_jr.breft
effect_wnmario_kameck.breff
effect_wnmario_kameck.breft
effect_wnmario_koopa.breff
effect_wnmario_koopa.breft
effect_wnmario_larry.breff
effect_wnmario_larry.breft
effect_wnmario_lemmy.breff
effect_wnmario_lemmy.breft
effect_wnmario_ludwig.breff
effect_wnmario_ludwig.breft
effect_wnmario_mg.breff
effect_wnmario_mg.breft
effect_wnmario_morton.breff
effect_wnmario_morton.breft
effect_wnmario_roy.breff
effect_wnmario_roy.breft
effect_wnmario_vs.breff
effect_wnmario_vs.breft
effect_wnmario_wendy.breff
effect_wnmario_wendy.breft
Env/
EU/EngEU/Layout/
EU/EngEU/staffroll/
mj2d00_numberFont_I4A.brfnt
mj2d00_PictureFont_32_RGBA8.brfnt
mj2d01_marioFont_64_IA4.brfnt
EU/HomeButton2/
EU/save_banner/
HomeButton2/
Layout/
ankou.arc
backWall.arc
bakubaku.arc
balloon.arc
basabasa.arc
ben.arc
bgA_000A.arc
bgA_0104.arc
bgA_0302.arc
bgA_0502.arc
bgA_0702.arc
bgA_0B02.arc
bgA_4002.arc
bgA_4502.arc
bgA_4602.arc
bgA_5202.arc
bgB_000A.arc
bgB_0302.arc
bgB_0702.arc
bgB_0B02.arc
bgB_0E02.arc
bgB_3402.arc
bgB_4D02.arc
bgB_5202.arc
BGM_anim_dummy.arc
big_renga_block.arc
big_shell.arc
bilikyu.arc
block_arrow.arc
block_broken.arc
block_cloud.arc
block_fly.arc
block_help.arc
block_ice.arc
block_jump.arc
block_light.arc
block_otehon.arc
block_pata.arc
block_pow.arc
block_rotate.arc
block_roulette.arc
block_slide.arc
block_snake.arc
block_snake_ice.arc
block_taru.arc
block_tsuta.arc
boat_light_wood.arc
bolt.arc
bombhei.arc
boss_ef_attack.arc
boss_hikousen_bg.arc
boss_kameck_block.arc
boss_koopaJr_down_asiba.arc
boss_koopaJr_move_asiba.arc
boss_koopaJr_toge.arc
boss_koopa_ashiba.arc
boss_koopa_door.arc
boss_koopa_lift.arc
boss_koopa_lift_down.arc
boss_larry_block.arc
boss_lemmy_ashiba.arc
boss_morton_ashiba.arc
boss_roy_dokan.arc
boss_shutter.arc
boss_shutter_koopa.arc
box_iron.arc
box_iron_machine.arc
box_wood.arc
bros.arc
bros_mega.arc
bubble.arc
cage_boss_koopa.arc
center_fire.arc
center_firebar.arc
chestnut.arc
chorobon.arc
choropoo.arc
circle_ground.arc
circle_ground_chika.arc
circle_ground_holeD.arc
circle_ground_holeD8.arc
circle_ground_holeD_chika.arc
circle_ground_koopa.arc
coin.arc
Copyrights.arc
crasher.arc
CreditsBG.arc
crow.arc
cube_kinoko.arc
daikonbou.arc
daikonbouBig.arc
dossun.arc
env_leaf.arc
env_mist.arc
env_petal.arc
env_snow.arc
env_stardust.arc
env_underwater.arc
env_wind.arc
f.txt
firepillar.arc
fire_cannon.arc
fire_rot_cannon.arc
fire_snake.arc
fishbone.arc
FrontBlack.arc
FrontBlack_small.arc
fruit.arc
fruits_kusa.arc
fruits_kusa_gake.arc
fruit_cookie.arc
fugu.arc
gesso.arc
gessoMini.arc
goal_set.arc
guru.arc
hanachan_big_body.arc
hanachan_big_head.arc
hanachan_body.arc
hanachan_head.arc
hashigo.arc
hatena_balloon.arc
hikari.arc
houdai.arc
houdai_ball.arc
houdai_rot.arc
houdai_rot_large.arc
houdai_slope.arc
huhu.arc
ibaramushi.arc
ice.arc
ice_piece.arc
iga_kuribo.arc
iggy.arc
I_fireflower.arc
I_hammer.arc
I_iceflower.arc
I_kinoko.arc
I_kinoko_bundle.arc
I_penguin.arc
I_propeller.arc
I_ship_key.arc
I_star.arc
I_yoshi_egg.arc
jugem.arc
jump_step.arc
kameck.arc
kameck_princess.arc
kanaami.arc
kanaami2.arc
kanaami_enkei.arc
kanaami_urakabe.arc
kanban_yajirushi.arc
kanibo.arc
karon.arc
kazan_rock.arc
keronpa.arc
key_boss_castle.arc
killer.arc
killer_houdai.arc
killer_king.arc
killer_mag.arc
killer_mag_houdai.arc
killer_rot_houdai.arc
kinopio_balloon.arc
koopa.arc
koopaJr.arc
koopaJr_clown.arc
koopaJr_clown_ply.arc
KoopaShip.arc
KoopaShip_2D.arc
koopa_clown.arc
koopa_clown_bomb.arc
kurage.arc
kuriboBig.arc
kuriboBoss.arc
kuriboMini.arc
kuribo_iga.arc
K_rcha.arc
lakitu.arc
larry.arc
lemmy.arc
lemmy_ball.arc
lift_boss_ludwig.arc
lift_buranko.arc
lift_dokan.arc
lift_freehole.arc
lift_guraIwa.arc
lift_guraYuka.arc
lift_han_spin.arc
lift_han_stone.arc
lift_han_wood.arc
lift_huriko.arc
lift_icebox.arc
lift_ice_ashiba.arc
lift_intore.arc
lift_katamukiyuka.arc
lift_kinoko_yoko.arc
lift_maruta.arc
lift_number_ship.arc
lift_obake_chikei.arc
lift_rakka_ashiba.arc
lift_spin_kinoko.arc
lift_suisha.arc
lift_taru.arc
lift_tenbin.arc
lift_torokko.arc
lift_trampoline.arc
lift_turi_ashiba.arc
lift_turi_ashiba_wire.arc
lift_up_down.arc
lift_yogan_kinoko.arc
lift_zen.arc
lift_zen_chika_pori.arc
lift_zen_color_pori.arc
lift_zen_hammer.arc
lift_zen_kaihei.arc
lift_zen_kaiten.arc
lift_zen_kaiten_kanaami.arc
lift_zen_shiro.arc
lift_zen_shiro_yogan.arc
lift_zen_spin_cube.arc
lift_zen_suisya.arc
lift_zen_toge.arc
lift_zen_toride.arc
lift_zen_yogan_down.arc
light_block.arc
light_search.arc
ludwig.arc
L_rcha.arc
manjirou.arc
Mask.arc
Mask_flashlight.arc
Mask_flashlight_obake.arc
mecha_koopa.arc
met_pata.arc
met_pataBig.arc
met_toge.arc
MG_balloon.arc
MG_kinopio.arc
MG_remo_cannon.arc
MG_RotatePanel.arc
middle_flag.arc
morton.arc
mouse.arc
mouse_hole.arc
mrsun.arc
noboribou_obake.arc
nokonokoB.arc
note.arc
obj_chikuwa_block.arc
obj_coin.arc
obj_dokan.arc
obj_door.arc
obj_door_obake.arc
obj_door_shiroboss.arc
obj_door_torideboss.arc
obj_envfog.arc
obj_gear.arc
obj_Hgear.arc
obj_magma.arc
obj_magmadeco.arc
obj_magmawave.arc
obj_nut.arc
obj_poisonwater.arc
obj_quicksand.arc
obj_rubble.arc
obj_sea_wakame.arc
obj_torch.arc
obj_turara_kotei.arc
obj_turara_rakka.arc
obj_turara_rakka_Big.arc
obj_waterfloat.arc
obj_waterfull.arc
obj_waterhalf.arc
obj_waterscreen.arc
obj_yashi.arc
paipo.arc
pakkun.arc
pakkun_black.arc
pakkun_walk.arc
pakkun_water.arc
peach.arc
penguin2.arc
poltergeist.arc
pukupuku_toge.arc
pumpkin.arc
P_rcha.arc
rail.arc
red_ring.arc
remo_kanaami.arc
remo_lift.arc
remo_lift_line.arc
remo_lift_soroban.arc
remo_lift_up.arc
roy.arc
sanbo.arc
sandpillar.arc
shell_fish.arc
shinkai_light.arc
shyguy.arc
Shynja.arc
sled_boss_iggy.arc
snake_block.arc
staffRollBlock.arc
StarRing.arc
star_coin.arc
tarzantsuta.arc
tcloud.arc
teresa.arc
test_lift.arc
togezo.arc
topman.arc
treasure_box.arc
unizo.arc
unizoBig.arc
untei_rope.arc
W4_Fly_Boss.arc
W6_Fly_Boss.arc
W7_shiroboss_bg_D.arc
W7_shiroboss_bg_M.arc
W7_shiroboss_bg_U.arc
W8_Fly_Boss.arc
wanwan.arc
wanwan_boss_iggy.arc
warp_cannon.arc
waterbubble.arc
waterPlate_W4boss.arc
wendy.arc
wing.arc
Yoshi.arc
Y_rcha.arc
Y_TexBlue.arc
Y_TexGreen.arc
Y_TexRed.arc
Y_TexYellow.arc
rels/
Replay/
Sound/stream/sfx
map0.brstm
map10.brstm
map11.brstm
map12.brstm
map13.brstm
map14.brstm
map15.brstm
map16.brstm
map17.brstm
map2.brstm
map3.brstm
map4.brstm
map5.brstm
map6.brstm
map7.brstm
map8.brstm
map9.brstm
STRM_BGM_CHIJOU.brstm
WorldMap/
main.dol
WIIMJ2DNP.str
peach_castle_lr.n.32.brstm
